.img-container{
	width: 100%;
}
.img-container:before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 75%;
}
.img-container .image{
	width: 100%;
	height: 100%;
	background-image: url();
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

/* Autobiography */
.bio{
    margin-top: 60px;
}
.deco-img{
    max-width: 220px;
    top: 50%;
    transform: translateY(-50%);
}
.bio-section .para{
    color: #343A40;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 16px;
    padding: 10px 16px;
}
.bio-section .para span{
    background: linear-gradient(transparent 20%,rgba(255, 255, 255, 0.174) 40%, #fee6bd 75%, #fee6bd 90% ,#fee6bd 99%);
    background-color: transparent;
    border-bottom: 3px solid #fee6bd;
}
@media screen and (max-width: 768px){
    .bio.hero{
        padding: 30px 0;
    }
    .deco-img{
        width: 100%;
    }
    .bio-section .para{
        font-size: 14px;
        margin-bottom: 8px;
        padding: 5px 16px;
    }
}
@media screen and (max-width: 576px){
    .deco-img{
       left: 40px;
    }
}
/* Club */
.club{
    width: 95%;
    margin: 0 auto;
}
.club-name{
    display: inline-block;
    padding: 0 5px;
    font-size: 26px;
    background: linear-gradient(transparent 20%,rgba(255, 255, 255, 0.174) 40%, #D1CE9C 75%, #D1CE9C 90% ,#D1CE9C 99%);
    background-color: transparent;
    border-bottom: 3px solid #D1CE9C;
}
.demo-group{
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.demo-group .img-container{
    border: 0.5px dotted #343A40;
    border-radius: 8px;
    overflow: hidden;
}
.demo-group .title{
    font-size: 18px;
    margin: 5px 0px;
}
.demo-group .para{
    font-size: 15px;
}
@media screen and (max-width: 768px){
    .demo-group{
        margin-bottom: 50px;
    }
    .demo-group .para{
        font-size: 12px;
    }
}
@media screen and (max-width: 576px){
}




/*  Decoration */
.deco51{top: -30px;right: 10px;}
.deco52{bottom: 0;left: -10px;}
.deco53{width: 40px;top: -70px;left: 270px;}
.deco54{width: 30px;top: -25px;right: 120px;}
.deco55{width: 30px;top: -25px;left: 220px;}
.deco56{width: 40px;top: -25px;right: 220px;}
.deco57{width: 30px;bottom: -25px;left: 220px;}
.deco58{width: 40px;bottom: 0;right: 0;}
@media screen and (max-width: 768px){
    .deco51{top: -10px;}
    /* .deco52{} */
    .deco53{width: 30px;top: -30px;}
    .deco54{width: 25px;}
    .deco55{width: 25px;top: -20px;}
    .deco56{display: none;}
    .deco57{width: 25px;bottom: -15px;}
    .deco58{width: 30px;}
}
@media screen and (max-width: 576px){
    .deco51{width: 40px;left: 60%;}
    .deco52{left: 8%;}
    .deco53{width: 30px;top: -80px;}
    .deco54{width: 25px;}
    .deco55{width: 25px;top: -20px;}
    .deco56{display: none;}
    .deco57{width: 25px;bottom: -15px;}
    .deco58{width: 30px;}
}
