/* Global */
*{
    box-sizing: border-box;
    position: relative;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Layout */
.wrapper{
    background-color:#fffaf3;
    height: 100%;
    overflow: hidden;
}
.container{
    width: 80%;
}
.hero{
    padding-top: 80px;
    padding-bottom: 80px;
}
@media screen and (max-width: 768px){
    .container{width: 90%;}
}
@media screen and (max-width: 576px){
    .container{width: 100%;}
    .hero{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/* Component */
/* navbar */
.navbar{
    width: 100%;
    height: 60px;
    background-color: #fffaf3;
    position: fixed;
    top: 0;
    z-index: 100;
    opacity: 0.95;
}
.logo{
    height: 100%;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}
.nav-link{
    padding: 0 12px;
    font-size: 18px;
    font-weight: 500;
    color:  #343A40;
    border-right: 2px dotted #343A40;
}
.nav-item:first-child .nav-link{
    border-left: 2px dotted #343A40;
}
.nav-link span{
    padding: 0 6px;
}
.nav-link:hover{
    color:  #343A40;
}
.nav-link:hover span{
    background: linear-gradient(transparent 20%,rgba(255, 255, 255, 0.174) 40%, #fee6bd 75%, #fee6bd 90% ,#fee6bd 99%);
    background-color: transparent;
    border-bottom: 3px solid #fee6bd;
}
.nav-link:visited{
    color: #343A40;
}
.navbar .navbar-toggler,.navbar-toggler:hover,.navbar-toggler:focus{
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: #fee6bd;
	border-radius: 70% 63% 70% 80% / 62% 60% 70% 70%;
    box-shadow: 2px 2px 5px rgba( 0, 0, 0, 0.25);
    border: 0;
    background-color: #fff;
}
.navbar .navbar-toggler:active{
    box-shadow: none;
    transform: translateY(1.5px);
}
@media screen and (max-width: 576px){
    .navbar .nav-link{
        border-right: 0;
        margin-top: 5px;
        text-align: end;
    }
    .nav-item:first-child .nav-link{
        border-left: 0;
    }
    .nav-link span{
        background: linear-gradient(transparent 20%,rgba(255, 255, 255, 0.174) 40%, #fee6bd 75%, #fee6bd 90% ,#fee6bd 99%);
        background-color: transparent;
        border-bottom: 2px solid #fee6bd;
    }
}


/* home */
.home{
    margin-top: 70px;
    padding-bottom: 50px;
}
.home .inner{
    max-width: 760px;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
    height: 100%;
}
.home .image{
    width: 450px;
    margin: 0 auto;
}
.home .intro{
    width: 250px;
    position: absolute;
    top: 20px;
    left: 10%;
}
.intro .name{
    font-size: 35px;
    margin-bottom: 10px;
}
.intro .para{
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 10px;
}
@media screen and (max-width: 576px){
    .home{
        height: 750px;
    }
    .home .inner{
        margin-top: 30px;
        padding: 0;
    }
    .home .image{
        width: 100%;
        max-width: 320px;
    }
    .home .intro{
        width: 150px;
        left: -10px;
        transform: translateX(0);
    }
    .intro .name{
        font-size: 22px;
        margin-bottom: 5px;
    }
    .intro .para{
        font-size: 16px;
    }
}
.home .link-group{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.home .link{
    width: 150px;
    height: 150px;
    padding-top: 10px;
	border-radius: 70% 63% 70% 80% / 62% 60% 70% 70%;
    box-shadow: 3px 5px 8px rgba( 0, 0, 0, 0.25);
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
    position: absolute;
}
.home .link:hover{
    transform: scale(1.02);
}
.home .link:active{
    transform: scale(1);
}
.home .link.link1{
    background: #c7dbdd;
    top: 180px;
    right: 8%;
}
.home .link.link2{
    background: #ffe0cf;
    bottom: 50px;
    left: 12%;
}
.home .link.link3{
    background: #fee6bd ;
    bottom: 0;
    right: 25%;
}
.home .link-icon{
    width: 65%;
}
.home .link-title{
    font-weight: 800;
    color: #343A40;
}
@media screen and (max-width: 576px){
    .home .link{
        width: 130px;
        height: 130px;
    }
    .home .link-group{top: 350px;}
    .home .link.link1{top: 0;}
    .home .link.link2{top: 50px;left: 10px;}
    .home .link.link3{top: 180px;}
}
/* about */
.about .typing{
    width: 200px;
    position: absolute;
    top: -90px;
    left: -70px;
}
.about .info{
    width: 620px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1;
	border-radius: 40% 35% 40% 30% / 40% 45% 45% 35%;
    background-color: #fff;
    margin: 0 auto;
    padding: 60px 50px 50px 80px;
}
.about .info span{
    background: linear-gradient(transparent 20%,rgba(255, 255, 255, 0.174) 40%, #fee6bd 75%, #fee6bd 90% ,#fee6bd 99%);
    background-color: transparent;
    border-bottom: 3px solid #fee6bd;
}
.about .btn:hover{
    transform: scale(1.05);
}
@media screen and (max-width: 768px){
    .about .typing{
        width: 150px;
        top: -50px;
        left: -50px;
    }
    .about .info{
        width: 80%;
        /* min-width: 540px; */
        font-size: 15px;
        line-height: 1.75;
        padding: 60px 50px 40px 70px;
    }
}
@media screen and (max-width: 576px){
    .about .typing{
        width: 120px;
        top: -100px;
        left: -30px;
    }
    .about .info{
        width: 90%;
        font-size: 14px;
        background-color: #fffaf3;
        padding: 0;
    }
    .about .btn{
        font-size: 14px;
        padding: 4px;
    }
}


/* Portfolio */
.portfolio{
    margin: 50px 0;
}
.portfolio .main-title{
    display: inline-block;
    padding: 0 8px;
    font-size: 36px;
    text-align: center;
    background: linear-gradient(transparent 20%,rgba(255, 255, 255, 0.174) 40%, #D1CE9C 75%, #D1CE9C 90% ,#D1CE9C 99%);
    background-color: transparent;
    border-bottom: 3px solid #D1CE9C;
    margin-left: 12px;
    margin-bottom: 20px;
}
.portfolio .info{
    background-color: #fff;
    border-radius: 18px;
    padding: 16px 22px;
}
.portfolio .info .name{
    font-size: 24px;
    margin-bottom: 16px;
}
.portfolio .info .info-title{
    font-size: 18px;
}
.portfolio .info .info-item{
    margin-bottom: 8px;
}
.portfolio .info .info-item span{
    padding: 2px 5px;
    margin-right: 5px;
    background-color: #cfa773;
    color: #fff;
    border-radius: 4px;
}
.portfolio-img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    overflow: hidden;
    opacity: 0.9;
}
.portfolio .click-btn{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    color: #000;
    background-color:#fff;
    opacity: 0.95;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.portfolio-link:hover .portfolio-img{
    opacity: 1;
    transform: scale(1.02);
}
@media screen and (max-width: 768px){
    .portfolio .info .name{
        font-size: 20px;
        margin-bottom: 8px;
    }
    .portfolio .info .info-title{
        font-size: 14px;
    }
    .portfolio .info .info-item{
        font-size: 12px;
        margin-bottom: 4px;
    }
    .portfolio .click-btn{
        width: 70px;
        height: 70px;
        font-size: 14px;
        line-height: 70px;
    }
}
@media screen and (max-width: 576px){
    .portfolio .info{
        margin-bottom: 20px;
    }
}


/* Contact */

.contact .title{
    text-align: center;
    font-size: 24px;
    color: #343A40;
    margin-bottom: 30px;
}

.social-group{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.social-btn{
    width: 120px;
    height: 120px;
    margin: 0 10px;
    border-radius: 50%;
    border: 2px dotted #343A40;
    color: #343A40;
    background-color: #fff;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.social-btn i{
    font-size: 24px;
    margin-bottom: 5px;
}
.social-btn:hover{
    transform: scale(1.05);
}
@media screen and (max-width: 576px){
    .contact{
        margin-bottom: 30px;
    }
    .contact .title{
        font-size: 20px;
    }
    .social-btn{
        width: 70px;
        height: 70px;
        margin: 0 2px;
        border-radius: 50%;
        border: 1px dotted #343A40;
    }
    .social-btn i{
        font-size: 20px;
    }
    .social-btn span{
        font-size: 12px;
    }
}

/* Footer */
.copyright{
    padding: 10px;
    text-align: center;
}
@media screen and (max-width: 576px){
    .copyright{
        font-size: 12px;
        padding: 5px;
    }
}
/* Decoration */
.deco{
    position: absolute;
    width: 50px;
    z-index: 1;
    user-select: none;
}
.deco1{top: 30px;left: 17%;}
.deco2{width: 30px;bottom: 180px;right: 25%;}
.deco3{width: 30px;top: 150px;left: 5%;}
.deco4{bottom: 300px;right: 10%;}
.deco5{bottom: 270px;left: 25%;}
.deco6{top: 30px;right: 20%;}
.deco7{width: 60px;bottom: 80px;left: 10%;}
.deco8{bottom: 30px;right: 8%;}
.deco11{top: 0; left: 50%;}
.deco12{width: 30px;top: 50px;right: 23%;}
.deco13{width:40px;top: 240px;left: 15%;}
.deco14{width:40px;top:180px;right: 5%;}
.deco15{top: 360px;left: 5%;}
.deco16{top: 320px;right: 17%;}
.deco17{bottom: 80px;right: 40%;}
.deco18{width: 30px;bottom: 10px;right: 15%;}
.deco31{top: -80px;left: 25%;}
.deco32{top: 0px;right: 30%;}
.deco33{top:200px;left: 3%;}
.deco34{width:40px;top: 400px;left: 35%;}
.deco35{top: 50px;right: 8%;}
.deco36{top: 250px;right: 3%;}
@media screen and (max-width: 768px){
    .deco{width: 40px;}
    .deco1{left: 10%;}
    .deco2{width:25px;right: 8%;}
    .deco3{width:25px;top: 180px;left: 2%;}
    .deco4{display: none;}
    .deco5{left: 15%;}
    .deco6{right: 10%;}
    .deco7{width: 50px;left: 8%;}
    .deco8{bottom: 0;right: 18%;}
    .deco11{top: 30px; left: 40%;}
    .deco12{display: none;}
    .deco13{width:30px;left: 8%;}
    .deco14{width:30px;}
    .deco15{left: 3%;}
    .deco16{right: 8%;}
    .deco17{right: 40%;}
    .deco18{right: 15%;}
    .deco31{top: -80px;left: 15%;}
    .deco32{right: 45%;}
    .deco33{left: 3%;}
    .deco34{width:30px;top: 300px;left: 35%;}
    .deco35{width:25px;right: 5%;}
    .deco36{width:35px;top: 200px;right: 3%;}
}
@media screen and (max-width: 576px){
    .deco{width: 30px;}
    .deco1{top:350px;left: 25%;}
    .deco2{width:25px;top:500px;right: 8%;}
    .deco3{width:25px;top: 180px;left: 2%;}
    .deco4{display: none;}
    .deco5{top:450px;left: 45%;}
    .deco6{top:0;right: 10%;}
    .deco7{width:40px;top: 600px;left: 8%;}
    .deco8{bottom: 20px;right: 18%;}
    .deco11{display: none;}
    .deco12{display: none;}
    .deco13{display: none;}
    .deco14{width:30px;right: 5px;}
    .deco15{display: none;}
    .deco16{display: none;}
    .deco17{display: none;}
    .deco18{display: none;}
    .deco31{left: 25%;}
    .deco32{width:40px;right: 45%;}
    .deco33{display: none;}
    .deco34{top: 280px;left: 35%;}
    .deco35{display: none;}
    .deco36{width:35px;top: 200px;right: 3%;}
}

.zoom{animation: zoom 5s infinite;}
.shake{animation: shake 7s infinite alternate-reverse;}
.rotate{animation: rotate 50s infinite;}
@keyframes zoom{
    0%{opacity: 0.8; transform: scale(0.8);}
    50%{opacity: 1;transform: scale(1);}
    100%{opacity: 0.8; transform: scale(0.8);}
}
@keyframes shake{
    0%{transform: rotate(15deg);}
    100%{transform: rotate(-15deg);}
}
@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


/* Utility */
